<html>
  <head>
    <style>
      table, th, td {
	  border: 1px solid black;
      }
    </style>
    <title>Hotspot Application</title>
  </head>
  <body bgcolor=white>

    <h1>Hotspot</h1>

    {% if latest_rest_data %}

    <table>
      <tr>
	<th>Name</th>
	<th>Address</th>
      </tr>

      {% for rest in latest_rest_data %}
      <tr>
	<td>{{ rest.name }}</td>
	<td>{{ rest.address }}</td>
      </tr>
	
      {% endfor %}
    </table>
      
    {% else %}
    <p>No restaurant data is available.</p>
    {% endif %}
    
  </body>
</html>
